{{#block "content"}}
<!DOCTYPE html>
<html>
<head>
    <title>models.Hero models.Squad</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/font-awesome.css'>
    <link rel='stylesheet' href='/css/style.css'>
</head>
 {{/block}}
{{#block "content"}}
<body>

    <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/newHero">Add a New Hero</a></li>
            <li role="presentation"><a href="/newSquad">Add a New Squad</a></li>
    </ul>
    <br> <br>
        <p class="welcome"> welcome to Super hero App where you can add a hero and create a squad</p>
    <br> <br>
    <div class="row">
    <div class="col-md-4">
     <image src="/images/mavel.gif" alt ="marvel gif">
    </div>
    <div class="col-md-4">
       <image src="/images/avengers.gif" alt ="marvel gif">
    </div>
    <div class="col-md-4">
      <image src="/images/avengers.gif" alt ="marvel gif">
    </div>
    </div>
   <div class="container">
{{!--    <h1>List of Heroes</h1> --}}
   </div>
   {{#block "footer"}}
       <footer class="footer">
           <div class="container">
           <hr>
               <p class="text-muted">
                   <a href="/categories/delete">delete all categories & tasks</a><br>
                   <a href="/tasks/delete">delete all tasks</a>
                </p>
           </div>
       </footer>
       </body>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
       </html>
   {{/block}}
 {{/block}}