<!DOCTYPE html>
<html>
<head>
    <title>Hero Squad</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/font-awesome.css'>

</head>
<body>
    <div class="container">
    <div class="row">
    <div class="col-md-4">
     <image src="/images/mavel.gif" alt ="marvel gif">
    </div>
    <div class="col-md-4">
       <image src="/images/avengers.gif" alt ="marvel gif">
    </div>
    <div class="col-md-4">
      <image src="/images/spiderman-marvel.gif" alt ="marvel gif">
    </div>

    </div>
      	#parse( $template )
    </div>
    <footer class="footer"><p>&copy; @SITATI 2021</p></footer>
</body>
</html>