{{#partial "content"}}

    {{#if squads}}
        {{#each squads}}
            <div class="card col-lg-9">
                <h1 class="text-center card-title" id="squad"> models.Squad Name:{{name}}</h1>
                <a href="/createSquad/{{id}}" class="btn btn-outline btn-lg col-md-6">View info</a>
            </div>

        {{/each}}
    {{else}}
        <div class="card col-md-12">
            <p id="hero" style="font-size:32px" class="card-text">You have no squads!</p>
        </div>
        <br><br>
    {{/if}}
    <a href="/squads/new" class="btn btn-outline-dark btn-lg mt-5">Assemble squads</a>

{{/partial}}