	{{> "layout.hbs"}}
	<div class="row squad">
	<div class="col-md-4">
		    <div class="header">
                <p>Create a new squad for your hero</p>
		    </div>
		    <div class="createSquad">
		    	<form action="/createSquad" method="post" name="squad">
                    <label for="squad_name">models.Squad Name</label>
		    		<input class="form-control" type="text" placeholder="Enter Squad's Name..." name="squadName">
			        <br>
                    <label for="squadSize">models.Squad's Max Size:</label>
			        <input class="form-control" type="number" placeholder="Max Size..." name="squadSize" type="text" />
			        <br>
	             	<select class="form-control"placeholder="Squad's Cause" name="squad_cause">
	                	<option label="Squad's Cause / Motive -"></option>
		                <option value="Fight the aliens">Fight the aliens</option>
		                <option value="Save the Earth">Save the Earth</option>
		                <option value="Fight Sexism">Fight Sexism</option>
		                <option value="computer illiteracy">computer illiteracy</option>
		                <option value="Corruption">Corruption</option>
		                <option value="Public mannerism">Public mannerism</option>
		            </select>
		            <br><button type="submit" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>Create a Squad</button>
		    	</form>
		    </div>
		   </div>
		</div>